.App {
  text-align: center;
}

.container__navbar {
  color: #ccc;
  font-weight: 900;
  padding: 0 20px;
  height: 250px;
  background-color: rgb(13, 2, 91);
}
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navbar__menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}
.navbar__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navbar__logo {
  font-size: 2rem;
  font-weight: 900;
  color: #ccc;
  text-decoration: none;
}
.image__logo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.navbar__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  color: beige;
}
.navbar__links a {
  text-decoration: none;
  color: #ccc;
  font-size: 1.2rem;
  font-weight: 900;
}

.navbar__link {
  text-decoration: none;
  color: #ccc;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 0 10px;
}

.navbar__link:hover {
  color: rgb(214, 39, 39);
}
/* Sub main section */
.container__sub-main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 900;
  width: 100%;
  height: 100%;
}

/* Main section */
.container__main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 900;
  width: 100%;
  height: 100%;
}
.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 900;
  width: 100%;
  height: 100%;
}
.form-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(25, 7, 7);
  font-weight: 900;
  width: 100%;
  height: 100%;
}
.card-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(195, 224, 230);
  /* padding: 31px; */
  padding: 13px;
  margin: 13px;
  font-weight: 900;
  width: 100%;
  height: 100%;
  background-color: rgb(85, 193, 247);
}
/*  */
.card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(25, 7, 7);
  font-weight: 900;
  padding: 10px;
  margin: 10px;
  width: 96.5%;
  height: 100%;
  background-color: rgb(232, 244, 248);
}
.carousel__img {
  object-fit: cover;
  height: 50vh;
  width: 100%;
}
.alert__error {
  width: 100%;
  height: 100%;
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
}
.alert__heading {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .container__navbar {
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* width: 100%;
    height: 100%; */
  }
  .navbar__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 100%;
    height: 100%; */
    color: beige;
  }
  .navbar__link {
    text-decoration: none;
    color: #ccc;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 0 10px;
    width: 100%;
    height: 100%;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
  .navbar__logo {
    display: none;
  }
  .container__main {
    flex-direction: column;
  }
  .container__sub-main {
    flex-direction: column;
  }
  /* .carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    width: 100%;
    height: 100%;
  } */
}
.container__card-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(31, 13, 13);
  font-weight: 900;
  width: 100%;
  height: 100%;
  padding: 39px;
  margin: 39px;
}
.container__card-description-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(31, 13, 13);
  font-weight: 900;
  width: 100%;
  height: 100%;
}
.container__card-description-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(31, 13, 13);
  font-weight: 900;
  width: 100%;
  height: 100%;
}

/*  */
.container__card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(31, 13, 13);
  font-weight: 900;
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 5px;
}
.container__card-form-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(31, 13, 13);
  font-weight: 900;
  width: 100%;
  height: 100%;
}
.container__card-form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(194, 190, 190);
  font-weight: 900;
  width: 100%;
  height: 100%;
}
.container__card-form-content-icon {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(194, 190, 190);
  font-weight: 900; */
  width: 7%;
  height: 7%;
}
.container__card-description-reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(31, 13, 13);
  font-weight: 900;
  width: 100%;
  height: 100%;
}
.container__card-description-reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(31, 13, 13);
  font-weight: 900;
  width: 100%;
  height: 100%;
}

.container__contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(31, 13, 13);
  font-weight: 900;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 20px;
}
